<h1>My Tasks</h1>
<div class="container">
<ul>
<% @tasks.each do |task| %>
   <li><span class = "title"><%= link_to "#{task.title}", "/tasks/#{task[:id]};" %></span> 
   <%= task.completed ? "[x]" : "[ ]" %>  <%= link_to "Delete",
            task_path(task.id),
            method: :delete,
            data: { confirm: "Are you sure?" } %> </li>
<% end %>
</ul>
</div>
