
<div class="container">
  <% @tasks.each do |task| %>
    <div class="card">
    <div class="card-body">
      <H2 class="card-title"><%=task.title%></H2>
      <p><%= link_to "More", "/tasks/#{task[:id]};" %></P>
      <div class="card-link" >
          <%= link_to "Delete", task_path(task.id), method: :delete, data: { confirm: "Are you sure?" } %> 
      </div>
    </div>
    </div>
  <% end %>
</div>